scrapy
newspaper3k
confluent-kafka
beautifulsoup4
psycopg2-binary
fastapi
uvicorn
lxml_html_clean
qdrant_client
langchain_text_splitters
pydantic_settings
langchain_ollama
langchain_groq
python-dotenv
schedule
pgvector
sqlalchemy
langchain_aws

boto3
colorlog