scrapy
newspaper3k
confluent-kafka
beautifulsoup4
psycopg2-binary
fastapi
uvicorn
lxml_html_clean
qdrant_client
langchain_text_splitters
pydantic_settings
langchain_openai
langchain_google_genai
langchain_ollama
langchain_groq
sentence-transformers
python-dotenv
schedule
